@page
@model UnitedYouthOrchestra6.Pages.InstrumentsPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Violin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Violin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Viola)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Viola)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Cello)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Cello)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.DoubleBass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.DoubleBass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Flute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Flute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Oboe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Oboe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Clarinet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Clarinet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Bassoon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Bassoon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Horn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Horn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Trumpet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Trumpet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Trombone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Trombone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Tuba)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Tuba)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.TimpaniPerc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.TimpaniPerc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Keyboard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Keyboard)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Instrument.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
